# API Configuration
NEXT_PUBLIC_API_URL=https://pixelsbee-server.onrender.com/api

# Next.js Configuration
NEXT_PUBLIC_APP_NAME=Pixelsbee

# Production Settings
NODE_ENV=production

# Vercel Configuration
VERCEL_URL=https://pixelsbee.com
